src/main/mule/munit-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e6428c32-6002-471f-a3eb-b741973c6f07" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="265e542a-4acf-4aac-8adb-e64af61acffc" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="mule" />
	</db:config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="7da04791-fad6-4421-93db-e043ddb1fc31" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="mule" />
	</db:config>
	<flow name="munit-demoFlow" doc:id="3a9b6a7a-770c-4d26-8782-58dfef28c447" >
		<http:listener doc:name="Listener" doc:id="03da0952-6eca-48e8-aadf-2499013fb998" config-ref="HTTP_Listener_config" path="/munit/{jobid}"/>
		<set-variable value="#[attributes.uriParams.jobid]" doc:name="jobid" doc:id="788f7350-91c2-4385-a633-269e82bc1ad3" variableName="jobid"/>
		<db:select doc:name="Select" doc:id="0997be36-773c-410c-b4d8-6e001baf34cc" config-ref="Database_Config1">
			<db:sql ><![CDATA[select * from jobs where job_id=:jobid]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	"jobid":vars.jobid
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="d094d2ce-13eb-4649-a0c2-b3fad651e347" >
			<when expression="#[sizeOf(payload)&gt;0]">
				<ee:transform doc:name="Transform Message" doc:id="9955a06a-bbcc-4f3c-993e-cec6f5bfd5b9">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="f44add05-6340-4e48-887d-df4889935408" />
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="ba5b7adc-8e36-4b54-9655-a72e0453e0bb" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"The given job_id is not present in database."]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
